div.auctionbox
	{
	width:196px;
	height:164px;
	border:1px solid;
	text-align:center;
	color:black;
	float:left;
	margin-right:32px;
	margin-bottom:32px;
	}

div.timebox
	{
	display:inline-block;
	border:1px solid;
	color:black;
	margin-bottom:4px;
	}

div.maintimebox
	{
	background:#2288AA;
	color:white;
	font-size:large;
	float:right;
	padding:4px;
	}

div.description
	{
	margin-bottom:32px;
	}

h1.header
	{
	margin-bottom:0px;
	}

h6.artist
	{
	margin-top:0px;
	font-weight:normal;
	}

div.price
	{
	background:#2288AA;
	color:white;
	font-size:xx-large;
	float:right;
	padding:4px;
	}

th
	{
	background:#2288AA;
	}

tr.one
	{
	background:#FFFFFF;
	}

tr.two
	{
	background:#88AAFF;
	}